# 실제 값은 여기에 넣지 마세요. .env 파일에만 저장하세요.
# 공통: <ENV>_HOST, <ENV>_PORT, <ENV>_USER, <ENV>_PASSWORD, <ENV>_DATABASE
# 옵션: <ENV>_DRIVER (기본: ODBC Driver 18 for SQL Server)

PRD_HOST=10.0.0.1
PRD_PORT=11433
PRD_USER=your_user
PRD_PASSWORD=your_password
PRD_DATABASE=your_db

STG_HOST=10.0.0.2
STG_PORT=21433
STG_USER=your_user
STG_PASSWORD=your_password
STG_DATABASE=your_db

DEV_HOST=10.0.0.3
DEV_PORT=11433
DEV_USER=your_user
DEV_PASSWORD=your_password
DEV_DATABASE=your_db

QA_HOST=10.0.0.4
QA_PORT=11433
QA_USER=your_user
QA_PASSWORD=your_password
QA_DATABASE=your_db
